<div class= 'container'>

<h1>About</h1>

<p>This site was created to give voices to the families and friends affected by the smear campaign of the media demonizing and criminalizing black victims of police brutality. I wanted to create an opportunity for those who personally knew those who passed, to share a story about them from their life. So that others may know and remember their legacy. Rest in power, you will be missed but not forgotten.</p>

</div>
