<h1> About</h1>
<div class= 'container'>

    <div class='row'>
        <div class="col-md-6 col-md-offset-3">
            <h1> A message from the creator:</h1>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <p>
                This site was created to give voices to the families and friends affected by the smear campaign of the media demonizing and criminalizing black victims of police brutality. I wanted to create an opportunity for those who personally knew those who passed, to share a memorable story. So that others may know and remember their legacy. To those we've lost: Rest in power, you will be missed but not forgotten.
            </p>
        </div>
     </div>

</div>
