<h1> This is the Users profile page</h1>


<!--  The below is a link that's also a button. The fist part is link_to which starts the link -->
<!-- then it states to go to "Share a story" (this will show on the page), followed by the path -->
<!-- followed by the bootstrap button class. -->
<%= link_to "Share a story", new_post_path, class: "btn btn-default" %>
<%= link_to "Recent Stories", posts_path, class: "btn btn-default" %>