<h1>Completed Post and pics</h1>
<ul>
    <% @posts.each do |post| %>
    <li>
    <tr class=" active " >
                    <td><%= p.title %></td>
                    <td><%= p.body %></td>
                    <td><%= link_to "Show Post", post_path(p) , class: "btn btn-primary btn-xs" %></td>
                </tr>
        <%= image_tag post.picture.url if post.picture? %>
    </li>
    <% end %>
</ul>


